:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.logo {
  width: 150px;
}

.nav-bar {
  background: var(--branding-color);
  padding: 20px 0;
}
.active {
  color: var(--branding-color) !important;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}

p {
  font-family: var(--default-font-family);
  font-size: 14px;
}

/* .intro {
  padding-top: 100px;
  padding-bottom: 200px;
  margin-left: 200px;
} */

.index-icon {
  color: #000000;
}

.main-page {
  padding-left: 160px;

}
.main-page h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
}

.main-page p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
  font-weight: 400;
  opacity: 70%;
}

.main-icon {
  font-size: 20px;
}

.body img {
  width: 560px;
  height: 560px;
  border-radius: 4px;
}

.body h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

.body p {
  font-family: var(--default-font-family);
  font-size: 16px;
  color: var(--text-color);
  line-height: 30px;
  opacity: 70%;
}

.btn-project {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 16px;
  font-family: var(--default-font-family);
  padding: 18px 30px;
}

.about-page h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: 700;
  color: #000000;
}

.about-page h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}

.about-page p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
  font-weight: 400;
  opacity: 70%;
}

.about-page a {
  color: #ffff;
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px;
}

.about-content {
  margin: 30px;
}

.about-content a {
  text-decoration: none;
}
.headshot {
  width: 500px;
  border-radius: 50%;
}

.about-page a:hover {
  background: #000000;
  color: #ffff;
}

.project-page {
  padding: 0px;
}

.project-heading {
  font-family: var(--heading-font-family);
  font-size: 50px;
  line-height: 85px;
  font-weight: 700;
  color: #000000;
}

.project-img {
  width: 560px;
  border-radius: 20px;
}

.img-sub-heading {
  color: #000000;
  font-family: var(--default-font-family);
  font-size: 24;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.project-paragraph {
  color: var(--text-color);
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
  opacity: 70%;
}

.project-description {
  padding: 60px 20px;
}
.contact-page {
  padding: 160px 20px;
}
.contact-content {
  text-align: center;
}
.contact-content a {
  text-decoration: none;
  color: var(--branding-color);
}

.contact-page h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #000000;
}

footer {
  margin: 40px 0;
}

footer .contactbox {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 20px;
  width: 1160px;
}

footer .contactbox h4 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

footer .contactbox p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
}
footer .email {
  text-decoration: none;
  font-family: var(--default-font-family);
  color: #000000;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

footer .email:hover {
  color: var(--branding-color);
}

footer .social-media-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 120ms ease-in-out;
}

footer .social-media-links a:hover {
  color: #ffff;
  background-color: var(--branding-color);
}

.contact-box {
  background: var(--branding-color);
  color: #ffff;
  width: 200px;
  border-radius: 4px;
  text-align: center;
  padding: 18px 30px;
}

.contact-box:hover {
  background: #000000;
  color: #ffff;
}

.git-link {
  color: var(--branding-color) !important;
}

.tech-stack-icon {
  width: 40px;
}
.tech-stack-text {
  opacity: 70%;
  font-family: var(--heading-font-family);
}
.wobble-photo {
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: wobble 8s ease-in-out alternate infinite;
  max-width: 300px;
  border: 3px solid black;
}
@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
}

@media (max-width: 900px) {
  .main-page {
    padding: 10px;
    text-align: center;
  }
   .main-page h1 {
    font-size: 39px;
  }
  .index-icon{
    font-size: 20px;
  }
  .main-page p {
    font-size: 15px;
  }
  .body h2 {
    font-size: 43px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-page {
    padding: 0;
    text-align: center;
  }

  .about-page h1 {
    font-size: 30px;
    line-height: 1;
  }

  .headshot{
    display: block;
    margin: 0 auto;
  }
  .about-page h2 {
    font-size: 18px;
    opacity: 80%;
  }

  .about-page p {
    font-size: 16px;
  }

  .project-page {
    padding: 0;
    text-align: center;
  }
  .project-page h1 {
    font-size: 45px;
    line-height: 56px;
    text-align: center;
  }

  .contact-page {
    padding: 0;
    text-align: center;
  }

  footer .contactbox h4 {
    font-size: 25px;
  }
}
